	<!-- Day Report Modal -->
	<div class="modal fade" id="dayReportModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Create day report</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="usr">From:</label> <input type="date"
							class="form-control" id="report-start">
					</div>
					<div class="form-group">
						<label for="pwd">To:</label> <input type="date"
							class="form-control" id="report-finish">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal"
						id="day-report">OK</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>