
<!-- Edit Discount Modal -->
<div class="modal fade" id="editDiscountModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit additional service</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="pwd">Expires:</label> <input type="date"
						class="form-control" id="discount-finish-edit">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal"
					id="edit-xservice">OK</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>