<!-- Edit Item Modal -->
	<div class="modal fade" id="editItemModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Edit item</h4>
				</div>
				<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label>Code:</label> <input type="text" class="form-control"
									id="item-code-edit" disabled>
							</div>
							<div class="form-group">
								<label>Name:</label> <input type="text" class="form-control"
									id="item-name-edit">
							</div>
							<div class="form-group">
								<label>Color:</label> <input type="color" class="form-control"
									id="item-color-edit">
							</div>
							<div class="form-group">
								<label>Country of origin:</label> <input type="text"
									class="form-control" id="item-country-edit">
							</div>
							<div class="form-group">
								<label>Manufacturer:</label> <input type="text"
									class="form-control" id="item-manufac-edit">
							</div>
							<div class="form-group">
								<label>Photo:</label> <input type="file" accept='image/*'
									class="form-control" id="item-image-edit">
							</div>
							
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label>Price:</label> <input type="text" class="form-control"
									id="item-price-edit">
							</div>
							<div class="form-group">
								<label>Count:</label> <input type="number" min="1"
									class="form-control" id="item-count-edit">
							</div>
							<div class="form-group">
								<label>Year:</label> <input type="number" min="1900" max="2015"
									class="form-control" id="item-year-edit">
							</div>

							<div class="form-group">
								<label for="sel11">Showroom:</label> <select
									class="form-control" id="select-showroom-modal-edit">
								</select disabled>
							</div>
							<div class="form-group">
								<label for="sel12">Category:</label> <select
									class="form-control" id="select-category-modal-edit">
								</select disabled>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success"
						id="edit-item">OK</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>