<!-- New Category Modal -->
	<div class="modal fade" id="categoryModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Create category</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="usr">Name:</label> <input type="text"
							class="form-control" id="type-name">
					</div>
					<div class="form-group">
						<label for="pwd">Description:</label> <input type="text"
							class="form-control" id="type-desc">
					</div>
					<div class="form-group">
						<label for="sel01">Super Category:</label> <select
							class="form-control" id="select-supercategory-modal">
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success"
						id="new-category">OK</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>