
<!-- New Discount Modal -->
<div class="modal fade" id="discountModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create discount</h4>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label for="usr">Starts:</label> <input type="date"
									class="form-control" id="discount-start">
							</div>
							<div class="radio">
								<label><input type="radio" name="optradio" id="radio0">

									Product: <select class="form-control"
									id="select-discount-item-modal">
								</select> </label>
							</div>

							<div class="form-group">
								<label for="pwd">Percent:</label> <input type="text"
									class="form-control" id="discount-percent">
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="pwd">Expires:</label> <input type="date"
									class="form-control" id="discount-finish">
							</div>
							<div class="radio">
								<label><input type="radio" name="optradio" id="radio1">

									Category: <select class="form-control"
									id="select-discount-category-modal">
								</select> </label>
							</div>
							<div class="form-group">
								<label for="sel11">Showroom:</label> <select
									class="form-control" id="select-discount-showroom-modal">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success"
					id="new-discount">OK</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>