<!--New Item Modal -->
<div class="modal fade" id="itemModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create item</h4>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label>Code:</label> <input type="text" class="form-control"
									id="item-code">
							</div>
							<div class="form-group">
								<label>Name:</label> <input type="text" class="form-control"
									id="item-name">
							</div>
							<div class="form-group">
								<label>Color:</label> <input type="color" class="form-control"
									id="item-color">
							</div>
							<div class="form-group">
								<label>Country of origin:</label> <input type="text"
									class="form-control" id="item-country">
							</div>
							<div class="form-group">
								<label>Manufacturer:</label> <input type="text"
									class="form-control" id="item-manufac">
							</div>
							<div class="form-group">
								<label>Photo:</label> <input type="file" accept='image/*'
									class="form-control" id="item-image">
							</div>
							
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label>Price:</label> <input type="text" class="form-control"
									id="item-price">
							</div>
							<div class="form-group">
								<label>Quantity:</label> <input type="number" min="1" max="100000"
									class="form-control" id="item-count">
							</div>
							<div class="form-group">
								<label>Year:</label> <input type="number" min="1900" max="2015"
									class="form-control" id="item-year">
							</div>

							<div class="form-group">
								<label for="sel11">Showroom:</label> <select
									class="form-control" id="select-showroom-modal">
								</select>
							</div>
							<div class="form-group">
								<label for="sel12">Category:</label> <select
									class="form-control" id="select-category-modal">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success"
					id="new-item">OK</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>