<!-- New Service Modal -->
	<div class="modal fade" id="serviceModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Create additional service</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="usr">Name:</label> <input type="text"
							class="form-control" id="service-name">
					</div>
					<div class="form-group">
						<label for="pwd">Description:</label> <input type="text"
							class="form-control" id="service-desc">
					</div>
					<div class="form-group">
						<label for="pwd">Price:</label> <input type="text"
							class="form-control" id="service-price">
					</div>
					<div class="form-group">
						<label for="sel1">Product:</label> <select class="form-control"
							id="select-item-modal">
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success"
						id="new-service">OK</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>