<div class="panel panel-default">
	<div class="panel-heading">Search by:</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="name">Name:</label> <input type="text"
				class="form-control" id="search-name">
		</div>
		<div class="form-group">
			<label for="description">Description:</label> <input type="text"
				class="form-control" id="search-desc">
		</div>
		<div class="form-group service-hide">
			<label for="country">Country of origin:</label> <input type="text"
				class="form-control" id="search-origin">
		</div>
		<div class="form-group service-hide">
			<label for="country">Manufacturer:</label> <input type="text"
				class="form-control" id="search-manufacturer">
		</div>
		<div class="form-group service-hide">
			<label for="country">Quantity:</label> <input type="number"
				class="form-control" name="quantity" min="1" max="10000" id="search-quantity">
		</div>
		<div class="form-group service-hide">
			<label for="pwd">Year:</label> <input type="number"
				class="form-control" min="1900" max="2015" id="search-year">
		</div>
	</div>
</div>

<div class="panel panel-default service-hide">
	<div class="panel-heading">Price:</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="name">Down:</label> <input type="text"
				class="form-control" id="search-minprice">
		</div>
		<div class="form-group">
			<label for="description">Up:</label> <input type="text"
				class="form-control" id="search-maxprice">
		</div>
	</div>
</div>

<div class="panel panel-default service-hide">
	<div class="panel-heading">Showroom:</div>
	<div class="panel-body">
		<select class="form-control" id="search-showroom">
		</select>
	</div>
</div>

<div class="panel panel-default service-hide">
	<div class="panel-heading">Category:</div>
	<div class="panel-body">
		<div class="form-group">
			<select class="form-control" id="search-category">
			</select>
		</div>
	</div>
</div>

<div class="panel panel-default service-hide">
	<div class="panel-heading">Color:</div>
	<div class="panel-body">
		<input type="color" class="form-control" name="favcolor">
	</div>
</div>